<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">VIZZIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="inicio">
    <video autoplay loop id="video">
      <source src="../../../assets/images/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="text-container">
      <div id="text1" class="fade-text">BIENVENIDO</div>
      <div id="text2" class="fade-text">A LA APP</div>
      <div id="text3" class="fade-text">DE VIZZIO CLUB</div>
    </div>
  </div>

  <div class="additional-content">
    <div class="titular">
      <p>BIENVENIDO A LA APP OFICIAL DE VIZZIO</p>
    </div>
    <div class="lorem-text">
      <p>En VIZZIO CLUB, hemos elevado la experiencia de la vida nocturna a un nivel que satisfará incluso a los más exigentes amantes de la diversión. Nuestro compromiso con la excelencia se refleja en cada detalle, desde nuestra decoración única y moderna hasta la selección de bebidas y mejores Djs y artistas en directo de la escena local y nacional.</p>
    </div>
  </div>

  <div class="additional-content2">
    <div class="titular">
      <p>RESERVA</p>
      <P>TU ENTRADA</P>
      <P>DESDE LA APP</P>
    </div>
   
  </div>
</ion-content>

