<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="cuerpo">
  <div class="register-container">
    <ion-card class="register-card">
      <ion-card-header>
        <ion-card-title class="titular">Crear cuenta</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <div class="input-wrapper">
            <ion-label position="floating" class="label-nombre">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="nombre" (ionFocus)="onInputFocus($event)" (ionBlur)="onInputBlur($event)"></ion-input>
          </div>
        </ion-item>

        <ion-item lines="none">
          <div class="input-wrapper">
            <ion-label position="floating" class="label-apellidos">Apellidos</ion-label>
            <ion-input type="text" [(ngModel)]="apellidos" (ionFocus)="onInputFocus($event)" (ionBlur)="onInputBlur($event)"></ion-input>
          </div>
        </ion-item>

        <ion-item lines="none">
          <div class="input-wrapper">
            <ion-label position="floating" class="label-correo">Correo electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="email" (ionFocus)="onInputFocus($event)" (ionBlur)="onInputBlur($event)"></ion-input>
          </div>
        </ion-item>

        <ion-item lines="none">
          <div class="input-wrapper">
            <ion-label position="floating" class="label-password">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" (ionFocus)="onInputFocus($event)" (ionBlur)="onInputBlur($event)"></ion-input>
          </div>
        </ion-item>

        <ion-button expand="block" color="secondary" class="btn-register" (click)="register()">Registrarse</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
